body {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

header {
    box-shadow: 0px -8px 15px 12px rgba(66, 66, 66, 0.6);
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999;
}

.container {
    max-width: 956px;
    margin: 0 auto;
}

.nav-container > .row {
    padding: 15px 0;
}

.row {
    align-items: center;
}

.button {
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    color: #1d1d1d;
    text-decoration: none;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 7px 20px;
    margin-right: 27px;
}

.button:hover {
    background-color: #57AD56;
    color: white;
}

.button:active {
    background-color: #57AD568a;
}

.basket {
    width: 18px;
    height: 22px;
    padding-right: 15px;
}

.search {
    padding-top: 114px;
    padding-bottom: 56px;
}

.search input {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
}

.search input:focus {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}

h2 {
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    margin: 0 0 16px 0;
    padding-left: 5px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
    color: #1d1d1d;
    margin: 16px 0 4px 0;
}

.food-name {
    font-size: 14px;
    line-height: 21px;
    color: #626262;
    margin: 0 0 4px 0;
}

.time {
    font-size: 13px;
    line-height: 21px;
    color: #1d1d1d;
    margin: 0;
}

.rest-card img {
    width: 100%;
}

.rest-card {
    display: grid;
    text-align: left;
    padding: 5px;
    margin: 0;
    margin-bottom: 16px;
    text-decoration: none;
    transition: all 0.5s;
}

.rest-card:hover, .dish:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    transition: all 0.5s;
}

.rest-list {
    padding-bottom: 85px;
}

footer {
    background-color: #262626;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: white;
}

footer .logo {
    width: 190px;
    height: 20px;
    padding-top: 55px;
    padding-bottom: 40px;
}

.footer-container-1 {
    border-bottom: 1px solid #979797;
}

.footer-container-2 {
    border-bottom: 1px solid #979797;
    padding-bottom: 48px;
    padding-top: 32px;
}

.lang-select {
  appearance: none;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  padding: 0 1em 0 43px;
  margin: 0 0 33px 0;
  width: 225px;
  height: 40px;
  font-family: inherit;
  font-size: 13px;
  line-height: 15px;
  color: white;
  background: #3b3b3b url('img/for_search.png') no-repeat 50% 50%;
}

.lang-select:focus {
    outline: none;
}

.tag {
    font-size: 16px;
    line-height: 19px;
}

.tag span {
    color: #49A144;
}

.social_block {
    margin: 0;
    margin-top: 17px;
    padding: 0;
}

.social_block a:not(:last-child) {
    margin-right: 12px;
}

.footer-menu {
    list-style: none;
    margin: 0;
    margin-top: 16px;
    padding: 0;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    padding: 5px 0;
}

.footer-menu li:not(:last-of-type) {
    margin: 0 0 23px 0;
}

.footer-menu a:hover {
    color: #49A144;
}

footer .row {
    align-items: flex-start;
}

.footer-container-3 {
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid #979797;
}

.footer-container-3 img:first-child {
    margin-right: 20px;
}

.footer-container-3 img:last-child {
    margin-left: 20px;
}

.footer-container-4 {
    padding: 40px 0;
}

.footer-container-4 .footer-menu {
    margin: 0;
}

/*Страница ресторана*/

h1 {
    font-size: 34px;
    line-height: 42px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 54px;
}

.banner {
    margin-top: 72px;
    padding: 80px 0;   
}

.banner-container {
    background: url('img/pushkin.png') no-repeat 50% 50%;
    background-size: cover;
}

.banner-card {
    background-color: white;
    text-align: left;
    padding: 38px 48px;

}

.banner-time {
    background-color: black;
    color: white;
    float: right;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    border-radius: 16px;
    width: 94px;
    height: 32px;
    box-sizing: border-box;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 30px 0;
}

.category-underline {
    display: none;
}

.menu li{
    padding-right: 40px;    
}

.menu a{
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #626262;
}

.menu a:hover {
    color: #327430;
}

.menu-container {
    padding: 0;
}

.line {
    border-bottom: 1px solid #d8d8d8;
}

.selected-category {
    padding: 56px 0 32px 0;
}

.selected-category-text {
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
}

.dish-list {
    list-style: none;
    padding: 16px 0 0 16px;
    margin: 0;
}

.dish-header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    margin: 0 0 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    font-size: 15px;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 83px;
}

.dish:first-of-type .price {
    padding-top: 62px;
}

.addition {
    font-size: 13px;
    line-height: 21px;
    color: #626262;
}

.dish img {
    float: right;
}

.dish {
    border: 1px solid #d8d8d8;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    max-width: 470px;
    border-radius: 3px;
    transition: all 0.5s;
}

.dish img {
    border-radius: 3px;
}

@media screen and (max-width: 991px){
    .dish {
        margin-bottom: 30px;
        max-width: 750px;
        transition: all 0.5s;
    }
}

.dish-grid {
    display: grid;
    padding: 16px 0 0 16px;
}

.dishes {
    padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .category-underline {
        display: inline-block;
        width: 50px;
        border-top: 1px solid black;
        padding: 0;
        margin: 0;
    }

    .container {
        padding: 0 8px;
    }

    .selected-category {
        text-align: center;
        padding-top: 110px !important;
        padding-bottom: 32px;
    }

    .footer-container-4 .col-xs-12:not(:last-of-type) {
        margin-bottom: 24px;
    }
    .footer-container-4 {
        padding: 40px 8px;
    }

    .footer-container-2 {
        padding: 30px 8px 40px 8px;
    }
    
    .footer-container-3 {
        padding: 24px;
    }

    .footer-container-3 img {
        max-width: 125px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .appstore {
        margin-right: 24px !important;
    }


}

@media screen and (max-width: 575px) {
    .banner-card {
        display: grid;
        text-align: center;
        position: relative;
        left: 0;
        top: 140px;
        box-shadow: 0px 5px 5px 0px rgba(175, 175, 175, 0.22);
    }

    .banner-card {
        margin: 0 8px;
        padding: 24px 48px;
    }

    .banner-time {
        margin: 0 auto;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 40px;
        line-height: 28px;
    }

    .banner .food-name {
        margin-bottom: 16px;
    }

    .dish-header {
        font-size: 14px;
    }

    .dish img {
        max-height: 100%;
    }

    .dish {
        min-width: 308px;
        height: 102px;
        border: 0;
        border-bottom: 1px solid #d8d8d8;
        border-radius: 0;
    }

    .dish-list {
        padding: 0;
    }

    .dishes {
        padding: 0 8px;;
    }

    .dish .price {
        padding-top: 37px;
    }

    .dish:first-of-type .price {
        padding-top: 16px;
    }

    header .end-xs {
        padding-right: 8px;
    }

    .button {
        margin-right: 8px;
    }
}